# Flutter/Dart/Pub related
.dart_tool/
.packages
.pub-cache/
build/
coverage/
android/app/debug/
android/app/profile/
android/app/release/
ios/Pods/
*.iml
*.lock
.idea/
.gradle/
.dart_tool/
flutter_*.png
Generated.xcconfig
DerivedData/
